@import 'vars';

body {
    &.locked {
        overflow: hidden;
    }
}

@media (min-width: 48.01em) {
    .mobile {
        display: none;
    }
}

@media (max-width: 48em) {
    .desktop {
        display: none;
    }
}

.hidden {
    display: none;
}

section {
    margin-bottom: 16rem;
}
